<div class="content content-center">
  <h1 class="title">Login</h1>
  <div class="well login-well">
    <form action="/login" method="post" accept-charset="utf-8">
      <label for="email">
         <span class="form-label">Email</span>
         <input type="text" name="email" id="email" value="" />
       </label>
      <label for="password">
        <span class="form-label">Password</span>
        <input type="password" name="password" id="password" value="" /> 
      </label>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
